/*
Theme Name: Collins Admin
Theme URI: http://wordpress.org/themes/Collins Admin
Author: iConcept
Author URI: http://iConcept.com.ph
Description: Collins website for admin
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Collins Admin
*/

#ptTimeSelectCntr {
	background-color: #EEEEEE;
	z-index:9999 !important;
}

/*SEARCH BAR MAP*/
.pac-container {
 	z-index: 99999;
 }

h1 .label-default{
	font-size: 35px !important;
}

table th {
	text-align: center;
}

.display-info {
	font-weight: bold;
	font-size: 20px;
	color: gray;
}

.product-modal {
	position: absolute;
	right: 0;
}

.modal .modal-dialog {
	max-width: 500px;
	margin: auto;
}

.modal-content {
	margin-top: 5%;
}

.modal-history .modal-dialog {
	max-width: 1000px;
	margin: auto;
}

.modal-products .modal-dialog {
	max-width: 1300px;
	margin: auto;
	z-index: 999;
}

.well h1{
	color: gray;
}

@media (min-width: 992px){
.modal-lg {
    width: 1200px !important;
}

.one-action {
	text-align: center;
	width: 100px;
}

.two-action {
	text-align: center;
	width: 200px;
}

.three-action {
	text-align: center;
	width: 300px;
}

.loading{
	font-size: 30px;
	color: gray;
}

.wait {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	overflow: hidden;
	/*opacity: 0.5;*/
}

.wait i {
	position: fixed;
	top: 50%;
	right: 40%;
}

.wait span{
	font-size: 30px;
	position: fixed;
	top: 50%;
	right: 45%;
	z-index: 999;

}

span.label{
	font-size: 20px;
}

.list-group-item b {
	font-size: 20px;
}





